<h>Show Article</h>

<h2><%= @article.title %></h2>
<p><%= @article.content %>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<p><%= link_to  "Back to list", articles_path %></p>